.main-chat__messages__message
  .main-chat__messages__message__about
    .main-chat__messages__message__about__user-name
      masa
    .main-chat__messages__message__about__date
      2020/4/24(Fri) 21:30:00
  .main-chat__messages__message__text
    おはよう！